
@{
    ViewData["Title"] = "PageNotFound";
    Layout = "~/Views/Shared/Error_layout.cshtml";
}
@*<br></br>
<h6 style="color:red">Page under construction..!!</h6>*@


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/index.css">
    <script src="~/js/site.js"></script>

    <style>
        .cimg {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top:10%;
        }
    </style>
</head>
<body>

  

    <img src="~/images/construction.png" style="width:25%;" class="cimg"/>
</body>
</html>

