@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/Dashboard_layout.cshtml";
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

</head>
<body>

    <script type="text/javascript">
        window.onload = function ()
        {
            var url = '@ViewData["URL"]';
            var url1 = '@ViewData["url"]';

           

        };
    </script>
</body>>
</html>
